<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yj.mapper.DeptMapper">

	<select id="getList" resultType="com.yj.domain.DeptVO">
		select * from dept02
	</select>

	<select id="getDetail" parameterType="int"
		resultType="com.yj.domain.DeptVO">
		select * from dept02 where
		deptno=#{deptno}
	</select>

	<insert id="insDept" parameterType="com.yj.domain.DeptVO">
		insert into dept02
		values
		(#{deptno}, #{dname}, #{loc})
	</insert>

	<update id="uptDept" parameterType="com.yj.domain.DeptVO">
		update dept02
		set
		dname=#{dname},
		loc=#{loc}
		where
		deptno=#{deptno}
	</update>

	<delete id="delDept" parameterType="int">
		delete from dept02
		where
		deptno=#{deptno}
	</delete>
</mapper>