<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project4.mapper.BrMapper">

	<select id="list" resultType="project4.domain.BrVO">
		select * from br
	</select>

	<select id="get" resultType="project4.domain.BrVO"
		parameterType="int">
		select *
		from br
		where bkey=#{bkey}
	</select>

	<insert id="insert" parameterType="project4.domain.BrVO">
		INSERT INTO br (BKEY, USERKEY,
		TITLE, GRADE, content)
		values(seq_br.nextval, #{userkey}, #{title},
		#{grade}, #{content})
	</insert>

	<update id="update" parameterType="project4.domain.BrVO">
		update br
		set
		title=#{title},
		grade=#{grade}
		where bkey=#{bkey}
	</update>

	<delete id="delete" parameterType="int">
		delete
		from br
		where
		bkey=#{bkey}
	</delete>
</mapper>