<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project4.mapper.BrvMapper">

	<select id="list" resultType="project4.domain.BrvVO">
		select * from brv
	</select>

	<select id="get" resultType="project4.domain.BrvVO"
		parameterType="int">
		select *
		from Brv
		where brvkey=#{brvkey}
	</select>

	<insert id="insert">
		INSERT INTO Brv (BrvKEY,bristokey, USERKEY)
		values(seq_Brv.nextval, #{bristokey}, #{userkey})
	</insert>

	<update id="update" parameterType="project4.domain.BrvVO">
		update Brv
		set
		meetnum=#{meetnum}
		where brvkey=#{brvkey}
	</update>
	<delete id="delete" parameterType="int">
		delete
		from Brv
		where
		brvkey=#{brvkey}
	</delete>
</mapper>