<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="project4.eatTogether.a03_dao.ETDao">
	<select id="ETList" resultType="et" parameterType="et">
		SELECT *
		FROM Eattogether
		WHERE 1=1 
		<if test="title!=null and title!=''"> 
		AND title like '%'||#{title}||'%'
		</if>
	</select>
	
	<select id="getET" parameterType="int" resultType="et">
		SELECT * 
		FROM Eattogether 
		WHERE eattokey=#{eattokey}
	</select>
	
	<insert id="insET" parameterType="et">
		INSERT INTO Eattogether values(et_seq.nextval,66,11, #{title}, sysdate, #{content},#{loc},#{meetcnt},(#{meetdateS},'YYYY-MM-DD'),#{meetage},#{meetgender},#{paytype})
 	</insert>
 	
	<update id ="uptET" parameterType="et">
		UPDATE Eattogether
		   SET title = #{title},
			   content = #{content},
			   loc = #{loc},
			   meetcnt = #{meetcnt},
			   meetdate = to_date(#{meetdateS},'YYYY-MM-DD'),
			   meetage = #{meetage},
			   meetgender = #{meetgender},
			   paytype = #{paytype}
		 WHERE eattokey = #{eattokey}	
	</update>
	
	<delete id="delET" parameterType="int">
		DELETE FROM Eattogether 
		WHERE eattokey=#{eattokey}
	</delete>
</mapper>