<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project4.groupPurchase.Dao.FoodpubpurDao">
	<select id="getBoardList" resultType="boardList">
		SELECT *
		FROM FOODPUBPUR f , USERS u
		WHERE f.USERKEY
		= u.USERKEY
	</select>

</mapper>