<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="fpp" type="project4.vo.Foodpubpur"/>
		<typeAlias alias="board" type="project4.vo.BoardInfo"/>
		<typeAlias alias="boardList" type="project4.vo.BoardList"/>
		<typeAlias alias="fcomm" type="project4.vo.Fppcomm"/>
		<typeAlias alias="insfcomm" type="project4.vo.InsFppcomm"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="resource/FoodpubpurMapper.xml"/>
		<mapper resource="resource/UrMapper.xml"/>
		<mapper resource="resource/BrMapper.xml"/>
		<mapper resource="resource/UserMapper.xml"/>
		<mapper resource="resource/BristoMapper.xml"/>
	</mappers>

</configuration>