<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project4.mapper.PayMapper">

	<select id="list" resultType="project4.domain.PayVO">
		select * from Pay
	</select>

	<select id="get" resultType="project4.domain.PayVO"
		parameterType="int">
		select *
		from
		Pay
		where paykey=#{paykey}
	</select>

	<insert id="insert">
		INSERT INTO Pay
		values(
		seq_pay.nextval,
		#{cnt},
		sysdate,
		#{menu},
		#{message},
		#{phone},
		#{email},
		#{userkey},
		5040
		)
	</insert>


	<delete id="delete" parameterType="int">
		delete
		from Pay
		where
		paykey=#{paykey}
	</delete>

</mapper>