<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.mapper.UrAttachMapper">

	<insert id="insert">
	insert into ur_attach (uuid, uploadpath, filename,
	filetype, urkey)
	values (#{uuid}, #{uploadPath}, #{fileName},
	#{fileType}, #{urkey} )
	</insert>

	<delete id="delete">

		delete from ur_attach where uuid = #{uuid}

	</delete>

	<select id="findByurkey" resultType="com.yj.domain.UrAttachVO">
		select * from ur_attach where
		urkey = #{urkey}
	</select>

	<delete id="deleteAll">

		delete ur_attach where urkey = #{urkey}

	</delete>

	<select id="getOldFiles"
		resultType="com.yj.domain.UrAttachVO">

		select * from ur_attach where uploadpath = to_char(sysdate
		-1 ,'yyyy\mm\dd')

	</select>


</mapper>